header{
    background-image: url(https://cdn.pixabay.com/photo/2020/08/08/20/41/seagulls-5473897_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.search_bar{
    background-color: rgba(255,255,255,.3);
    backdrop-filter: blur(2px);
    _padding: 1rem;
    border-radius: .1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
input{
    background-color: transparent;
    padding: 1rem;
    padding-right: 0;
    width: 100%;
    color: white;
}
input::placeholder{
    color: #fff;
}
h1{
    color:white;
}
.fa-search{
    color: white;
    padding: 1rem;
    cursor: pointer;
}

@media(min-width: 768px){
    header{
        padding: 5rem;
    }
}